<p id="notice"><%= notice %></p>

<p>
  <b>ID Phrase:</b>
  <%= @record.username %>
</p>

<p>
  <b>Music:</b>
  <%= @record.music %>
</p>

<p>
  <b>Order:</b>
  <%= @record.order %>
</p>

<p>
  <b>P1a1:</b>
  <%= @record.p1a1 %>
</p>

<p>
  <b>P1a2:</b>
  <%= @record.p1a2 %>
</p>

<p>
  <b>P1a3:</b>
  <%= @record.p1a3 %>
</p>

<p>
  <b>P1a4:</b>
  <%= @record.p1a4 %>
</p>

<p>
  <b>P1a5:</b>
  <%= @record.p1a5 %>
</p>

<p>
  <b>P2a1:</b>
  <%= @record.p2a1 %>
</p>

<p>
  <b>P2a2:</b>
  <%= @record.p2a2 %>
</p>

<p>
  <b>P2a3:</b>
  <%= @record.p2a3 %>
</p>

<p>
  <b>P2a4:</b>
  <%= @record.p2a4 %>
</p>

<p>
  <b>P2a5:</b>
  <%= @record.p2a5 %>
</p>


<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
